## **All needed libirary**

In [1]:
import pandas as pd
import datetime
import numbers
import csv
import os

# defining the class

In [2]:
class contact_book:
    def __init__(self, path = "contactbook_" + str(datetime.date.today())[-2:] +
                 str(datetime.date.today())[-5:-3]+ str(datetime.date.today())[:4] + ".csv"):
      #when ever the class is called it will check if the path exist if not it will make a path according to today's date
      #you can also overwrite the path parameter with an already exsisting path
        self.path = path
        self.isExist = os.path.exists(path)
        if self.isExist == False:
            headerList = ['time', 'name', 'address', 'phone','email']
  
            with open(self.path, 'w') as file:
                dw = csv.DictWriter(file, delimiter=',', 
                                    fieldnames=headerList)
                dw.writeheader()
                file.close()
            
    # the insert methode doesn't take anyparameters but it uses insert function to take the information needed to be added    
    def insert(self):
        now = datetime.datetime.now()
        current_time = now.strftime("%H:%M")
        self.ins_time = current_time
        self.name = input("entre the name : ")
        self.address = input("entre the address : ")
        self.phone = []
        while True:
            print("enter a number if you want to exit entre e : ")
            p = input() 
            if p == "e":
                break
            self.phone.append(p)
        self.email = input("entre the email : ")
        data = [
       self.ins_time,
       self.name,
       self.address,
       self.phone,
       self.email
        ]
        #data = [self.ins_time, self.name, self.address, self.phone , self.email]
        with open(self.path, 'a') as file:
            writer = csv.writer(file)
            writer.writerow(data)
    # by entering the row number (counting from zero) and the column name you need to change it's content and the new value
    def update(self,id,col,value):
        self.id = id
        self.col = col
        self.value = value
        self.df = pd.read_csv(self.path)
        df.loc[self.id, self.col] = self.value
        df.to_csv(self.path, index=False)
    # it deletes the row according to the number given
    def delete(self,id):
      self.id = id
      self.df = pd.read_csv(self.path)
      self.df.drop(id,inplace = True)
      self.df.to_csv(self.path, mode='w')

we make an instance of the class

In [3]:
p = contact_book()

In [6]:
p.insert()

entre the name : maher
entre the address : address3
enter a number if you want to exit entre e :
48569
enter a number if you want to exit entre e :
e
entre the email : m@yahoo

In [7]:
df = pd.read_csv("/content/contactbook_26012023.csv")

In [8]:
df

,time,name,address,phone,email
0,16:46,mohamed mansour,street and gov,"['12345', '45678']",m@gmail
1,16:47,ahmed,address2,"['14725', '83698', '78965']",a@gmail
2,16:48,maher,address3,['48569'],m@yahoo

let's update column number 1

In [11]:
p.update(1,"address","alex")

In [10]:
df

,time,name,address,phone,email
0,16:46,mohamed mansour,street and gov,"['12345', '45678']",m@gmail
1,16:47,ahmed,alex,"['14725', '83698', '78965']",a@gmail
2,16:48,maher,address3,['48569'],m@yahoo

let's delete column number2

In [12]:
p.delete(2)

In [14]:
df = pd.read_csv("/content/contactbook_26012023.csv")

In [15]:
df

,Unnamed: 0,time,name,address,phone,email
0,0,16:46,mohamed mansour,street and gov,"['12345', '45678']",m@gmail
1,1,16:47,ahmed,alex,"['14725', '83698', '78965']",a@gmail